/* src/components/Avatar.css */
.avatar {
  width: 70px; /* Adjust to match the logo size */
  height: 70px; /* Adjust to match the logo size */
  border-radius: 50%;
  overflow: hidden; /* Ensure the image fits within the circle */
}

.avatar img {
  width: 100%; /* Make sure the image covers the entire avatar area */
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}
