/* src/components/HireBarista.css */

.hire-barista {
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hire-barista h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.description-card {
  border: 1px #000000;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 24px 0;
  text-align: justify;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-card .avatar {
  margin-bottom: 10px;
}

.profile-card .avatar img {
  border: 1px #000000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-card .barista-info {
  text-align: justify;
  border: 1px #000000;
}

.form-card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 24px 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='date'],
.form-group input[type='time'] {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px #ccc;
  border-radius: 4px;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.8rem;
}

.barista-profiles {
  margin-top: 20px;
}

.shop-reviews {
  margin-top: 20px;
}

.carousel .slider-wrapper {
  height: 480px; /* Adjusted height to fit carousel and not overlap */
}

.carousel img {
  object-fit: cover;
}
