/* src/components/MainContent.css */
.main-content {
  margin-left: 250px; /* Adjusted to match sidebar width */
  padding: 20px; /* Adjusted padding */
  background-color: #ffffff;
  flex-grow: 1;
  box-sizing: border-box;
  height: calc(100vh - 60px); /* Full height minus navbar height */
  overflow-y: auto; /* Scroll if content overflows */
  position: fixed; /* Fixes the position of the main content */
  top: 60px; /* Adjust to sit below the navbar */
  width: calc(100% - 250px); /* Adjust to fit the remaining width */
}

.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.2rem;
  color: #666; /* Gray text color */
}
