/* src/components/MainContent.css */

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin: 4px;
  background-color: #ececec;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
}
