/* src/components/Sidebar.css */

.sidebar {
  width: 250px;
  background-color: #ffffff;
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  color: #fff; /* Sidebar heading color */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #ccc; /* Sidebar link color */
  text-decoration: none;
  transition: color 0.3s ease;
}

.sidebar a:hover {
  color: #fff; /* Sidebar link hover color */
}
