/* src/components/Sidebar.css */
.sidebar {
  width: 250px;
  background-color: #f7f9fc; /* Light background for modern look */
  color: #333;
  position: fixed;
  top: 64px; /* Adjusted to be just below the navbar (assuming the navbar height is 60px + 4px margin) */
  bottom: 4px; /* Margin from the bottom */
  padding: 20px 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* Slightly more pronounced shadow for depth */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth open/close animation */
}

.sidebar-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Allows the list to grow and leave space for the toggle button */
}

.sidebar li {
  margin: 16px 24px; /* Margin to create space between items */
  padding: 12px 16px; /* Padding for clickable area */
  cursor: pointer;
  margin-top: 48px;
  border-radius: 8px; /* Rounded corners for modern look */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.sidebar li:hover {
  background-color: #e0f7ff; /* Softer blue background on hover */
  color: #828282; /* Blue text color on hover */
  transform: translateX(5px); /* Slight move to the right on hover for a dynamic feel */
}

.sidebar-toggle {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #000000; /* Primary blue background for the button */
  color: #fff; /* White text for contrast */
  border-radius: 8px; /* Rounded corners */
  margin: 0 24px; /* Align with the list items */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.sidebar-toggle:hover {
  background-color: #828282; /* Darker blue on hover */
}

/* Additional responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebar-toggle {
    margin: 0 16px;
  }
}
